.navbar {
    width: 100%;
    height: 100px;
    background-color: #121619;
    display: flex;
    flex-direction: row;
}

.navbar .leftSide {
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 100px;
}

.navbar .leftSide img {
    width: 98px;
}

.navbar .rightSide {
    padding-right: 3rem;
    flex: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 150%;
    gap: 2rem;
}

.navbar a {
    color: aliceblue;
    text-decoration: none;
    margin: 20px
}

.navbar .rightSide button {
    background-color: transparent;
    border: none;
    color: aliceblue;
    cursor: pointer;
}


@media only screen and (max-width:600px) {
    .navbar .rightSide a {
        display: none;
    }

    .navbar .rightSide {
        justify-content: flex-end;
        padding-right: 50px;
    }
}


@media only screen and (min-width:600px) {
    .navbar .rightSide button {
        display: none;
    }
}

.hiddenLinks {
  display: none;
}

#open .hiddenLinks {
  display: block;
  
}
#open img {
    display: none;
}
