.about {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.aboutTop {
  width: 100%;
  height: 550px;          
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.aboutBottom {
  background-color: #f1d0e7;  
  padding: 15px 10px;
  text-align: center;
}

.aboutBottom h1 {
  font-size: 45px;
  margin-bottom: 10px;
  color: #222;
  font-style: italic;
  font-weight: bold;
}

.aboutBottom p {
  max-width: 900px;
  margin: 0 auto;
  font-size: 18px;
  font-style: oblique;
  line-height: 1.6;
  color: #444;
}
