.birthdayLists {
  display: flex;
  flex-wrap: wrap;         
  justify-content: center;              
  background-color: #f1d0e7;
}

.cakeItem {
    width: 250px;        
    text-align: center;
    border-radius: 8px;
}

.birthdayTitle {
  font-size: 32px;
  color: #333;
  margin-bottom: 20px;    
  font-style: italic;                   
}

.cakeItem img {
  width: 150%;
  height: 350px;
  object-fit: cover;      
  border-radius: 8px;
}

.cakeItem p {
  margin-top: 10px;
  font-size: 18px;
  font-weight: initial;
  color: #333;
}
