.menu {
  padding: 40px 20px;
  text-align: center;
  background-color: #f1d0e7;
  border: black;
  justify-content: center;
}

.menuTitle {
  font-size: 48px;
  margin-bottom: 40px;
  color: #333;
}

.menuLists {
  grid-template-columns: repeat(3, 10fr); 
  display: grid;
  flex-wrap: wrap;
  justify-items: center;
}

.menuLists p {
    font-size: 30px;
    font-style: oblique;
    font-weight: bold;
}

.menuLists img {
  width: 115%;          
  max-width: 300px;      
  height: 60%;        
  object-fit: cover;    
  border-radius: 12px;
  cursor: pointer;
  border: black;
  justify-content: center;
}

.menuLists img:hover {
  transform: scale(1.05);
}

